body {
  margin: 0;
  background-image: url("../images/red-yellow-background.jpg");
  .search__input {
    position:relative;
    padding: 200px 200px 20px 200px;
  }
  .search__result {
    margin-top:-100px;
    .search__result__card {
      padding: 0px 50px;
      margin-bottom: 10px;
      .result__card {
        border: 2px solid rgb(232,18,39);
        background-image: url("../images/red-yellow-background.jpg");
        &:hover {
          box-shadow: 0 0 10px #e81227;
        }
        .card__text {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}
